<div id="menu" class="component">
    <h2 >Menu</h2>
    <ul class="mm-meny">
        <li class="mm-menu-item">
            <div class="mm-menumenu">
            <input type="checkbox" checked class="mm-buttons">
            <button class="mm-click-buttons" onclick="func(0)">Antipasti</button>
                <div class="mm-menynonflex">
                    <div class ="mm-flex-container">
                        <div class="mm-itemsL">
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">Caprese</span><span style="float: right; margin-right: 0.5%;">69kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">A salad with tomato, mozarella and green pesto.</p> 
                            </div>
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">aspargus med bacon</span><span style="float: right; margin-right: 0.5%;">140kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">Just read the title</p> 
                            </div>        
                        </div>
                        <div class="mm-splitter"></div>
                        <div class="mm-itemsR">
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">Crackers with cheese</span><span style="float: right; margin-right: 0.5%;">140kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">A plate filled with delicous cheeses that you can pair well with different crackes and wine.</p> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mm-Hsplitter"></div>
            </div>
        </li>
        <li class="mm-menu-item">
            <div class="mm-menumenu">
            <input type="checkbox" checked class="mm-buttons">
            <button class="mm-click-buttons" onclick="func(1)">Focaccia & frittate</button>
                <div class="mm-menynonflex">
                    <div class ="mm-flex-container">
                        <div class="mm-itemsL">
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">Caprese</span><span style="float: right; margin-right: 0.5%;">69kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">A salad with tomato, mozarella and green pesto.</p> 
                            </div>
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">aspargus med bacon</span><span style="float: right; margin-right: 0.5%;">140kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">Just read the title</p> 
                            </div>        
                        </div>
                        <div class="mm-splitter"></div>
                        <div class="mm-itemsR">
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">Crackers with cheese</span><span style="float: right; margin-right: 0.5%;">140kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">A plate filled with delicous cheeses that you can pair well with different crackes and wine.</p> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mm-Hsplitter"></div>
            </div>
        </li>
        <li class="mm-menu-item">
            <div class="mm-menumenu">
            <input type="checkbox" checked class="mm-buttons">
            <button class="mm-click-buttons" onclick="func(2)">Insalate & Zuppe </button>
                <div class="mm-menynonflex">
                    <div class ="mm-flex-container">
                        <div class="mm-itemsL">
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">Caprese</span><span style="float: right; margin-right: 0.5%;">69kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">A salad with tomato, mozarella and green pesto.</p> 
                            </div>
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">aspargus med bacon</span><span style="float: right; margin-right: 0.5%;">140kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">Just read the title</p> 
                            </div>        
                        </div>
                        <div class="mm-splitter"></div>
                        <div class="mm-itemsR">
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">Crackers with cheese</span><span style="float: right; margin-right: 0.5%;">140kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">A plate filled with delicous cheeses that you can pair well with different crackes and wine.</p> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mm-Hsplitter"></div>
            </div>
        </li>
        <li class="mm-menu-item">
            <div class="mm-menumenu">
            <input type="checkbox" checked class="mm-buttons">
            <button class="mm-click-buttons" onclick="func(3)">Pizza Bianca</button>
                <div class="mm-menynonflex">
                    <div class ="mm-flex-container">
                        <div class="mm-itemsL">
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">Caprese</span><span style="float: right; margin-right: 0.5%;">69kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">A salad with tomato, mozarella and green pesto.</p> 
                            </div>
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">aspargus med bacon</span><span style="float: right; margin-right: 0.5%;">140kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">Just read the title</p> 
                            </div>        
                        </div>
                        <div class="mm-splitter"></div>
                        <div class="mm-itemsR">
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">Crackers with cheese</span><span style="float: right; margin-right: 0.5%;">140kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">A plate filled with delicous cheeses that you can pair well with different crackes and wine.</p> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mm-Hsplitter"></div>
            </div>
        </li>
        <li class="mm-menu-item">
            <div class="mm-menumenu">
            <input type="checkbox" checked class="mm-buttons">
            <button class="mm-click-buttons" onclick="func(4)">Pizza Rossa</button>
                <div class="mm-menynonflex">
                    <div class ="mm-flex-container">
                        <div class="mm-itemsL">
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">Caprese</span><span style="float: right; margin-right: 0.5%;">69kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">A salad with tomato, mozarella and green pesto.</p> 
                            </div>
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">aspargus med bacon</span><span style="float: right; margin-right: 0.5%;">140kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">Just read the title</p> 
                            </div>        
                        </div>
                        <div class="mm-splitter"></div>
                        <div class="mm-itemsR">
                            <div class="mm-itemsRD">
                                <h2 class="mm-headingtext"><span style="float: left">Crackers with cheese</span><span style="float: right; margin-right: 0.5%;">140kr</span></h2>
                                <p class= "mm-paratext" style="text-align: left;">A plate filled with delicous cheeses that you can pair well with different crackes and wine.</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
