<div id="mainMenu">
        <ul class="meny">
          <li class="menu-item">
            <input type="checkbox" class="buttons">
            <button id="test" onclick="func(0)">
                Antipasti
                <div class ="flex-container">
                    <div class="itemsL">
                        <h2><span style="float: left">Mat1</span><span style="float: right">140kr</span></h2>
                        <p>lollsdfasdf</p>         
                    </div>
                    <div class="splitter"></div>
                    <div class="itemsR">
                        <h2><span style="float: left">Mat1</span><span style="float: right">140kr</span></h2>
                        <p>lollsdfasdf</p> 
                    </div>
                </div>
            </button>
          </li>







          <li class="menu-item">
              <input type="checkbox" class="buttons">
              <button onclick="func(1)">Focaccia & Fritatte</button>
          </li>
          <li class="menu-item">
              <input type="checkbox" class="buttons">
              <button onclick="func(2)">Insalate & Zuppe</button>
          </li>
          <li class="menu-item">
              <input type="checkbox" class="buttons">
              <button onclick="func(3)">Pizza Bianca</button>
          </li>
          <li class="menu-item">
              <input type="checkbox" class="buttons">
              <button onclick="func(4)">Pizza Rossa</button>
          </li>
          <li class="menu-item">
              <input type="checkbox" class="buttons">
              <button onclick="func(5)">Pizza Piatti</button>
          </li>
          <li class="menu-item">
              <input type="checkbox" class="buttons">
              <button onclick="func(6)">Secondi</button>
          </li>
          <li class="menu-item">
              <input type="checkbox" class="buttons">
              <button onclick="func(7)">Dolci</button>
          </li>
          <li class="menu-item">
              <input type="checkbox" class="buttons">
              <button onclick="func(8)">Contorini</button>
          </li>
        </ul>
      </div>
