@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
#mainMenu {
  background-color: #fbf6e5;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.mm-menumenu {
  width: 100%;
}

.mm-toptext {
  text-align: center;
  vertical-align: text-top;
  color: #303030;
}

.mm-click-buttons {
  text-align: center;
  font-size: 24px;
  font-weight: 525;
  background:none;
  border: none;
  outline: none; 
  margin: auto 0;
  padding-bottom: 2.5%;
  width: 100%;
}

.mm-click-buttons:hover {
  color: darkred;
}

.mm-buttons{
  display: none;
}

.mm-meny {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin: 0 auto;
  padding: 0%;
  align-self: center;
}

.mm-menu-item .mm-buttons:checked ~ .mm-menynonflex {
  display: block;
  max-height: 0;
  overflow: hidden;
}

.mm-menynonflex {
  overflow: hidden;
  max-height: 146.38px;
  transition: 1s;
}

.mm-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  transition: height 2s;
}

.mm-flex-container .mm-itemsL,
.mm-flex-container .mm-itemsR {
  display: flex;
  width: 45%;
  overflow:auto;
  flex-direction: column;
}

.mm-itemsLD, .mm-itemsRD {
  display: flex;
  flex-direction: column;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.mm-splitter {
  display: flex;
  overflow:auto;
  flex-direction: column;
  border-left: 2px solid #303030;;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
}

.mm-menu-item {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}