@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
#mainMenu {
  background-color: #fbf6e5;
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 0%;
  padding: 0%;
}

.mm-button {
  text-align: center;
  font-size: 24px;
  color:red;
  font-weight: 525;
  background:none;
  border: none;
  outline: none; 
  margin: 0 auto;
  transition: 0.3s;
}

.mm-button:hover {
  color: darkred;
}

.mm-buttons{
  display: none;
}

.mm-menu-item .buttons:checked ~ button div {
  display: block;
  line-height:0;
  height: 0;
  overflow: hidden;
  transition: 1s;
}

.mm-button::after {
  content: '';
  position: relative;
  width: 500px;
  border-bottom: 1px gray solid;
}

.mm-meny {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.mm-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  overflow:auto;
}
.mm-flex-container .itemsL {
  display: flex;
  width: 45%;
  overflow:auto;
  flex-direction: column;
}
.mm-flex-container .itemsR {
  display: flex;
  width: 45%;
  overflow:auto;
  flex-direction: column;
}
.mm-splitter {
  display: flex;
  overflow:auto;
  flex-direction: column;
  border-left: 2px solid green;
  margin-left: 5%;
  margin-right: 5%;
}
.mm-menu-item {
  display: flex;
  justify-content: center;
  width: 100%;
}
.mm-click-buttons {
  margin: 0%;
  padding: 0%;
  width: 100%;
}