<div class="component">
  <div id="map"></div>
  <!-- TODO: fix layout (merged) -->
  <div id="contact" class="flex">
    <div>
      <h2>Contact Us</h2>
      <p>Gamel brynsvei, 7020 Trondheim</p>
      <p>+47 65 44 12 90</p>
      <p>booking@capisco.benissimo.no</p>
    </div>
    <div class="flex-container">
      <div>
        <h3>Jonas Konte</h3>
        <p>Tlf: 22225555</p>
        <p>Email: jonas.konte@mail.com</p>
      </div>
      <div>
        <h3>Jonas Konte</h3>
        <p>Tlf: 22225555</p>
        <p>Email: jonas.konte@mail.com</p>
      </div>
      <div>
        <h3>Jonas Konte</h3>
        <p>Tlf: 22225555</p>
        <p>Email: jonas.konte@mail.com</p>
      </div>
    </div>
  </div>
</div>
