<div id="contact">
  <div class="cc-flex">
    <div>
      <h2>Contact Us</h2>
      <p class="cc-address">Gamle Bynesvei,</p>
      <p class="cc-address">7020 Trondheim</p>
      <p class="cc-contact">+47 65 44 12 90</p>
      <p class="cc-contact">booking@capisco.benissimo.no</p>
    </div>
    <div class="cc-flex-container">
      <div>
        <h3>Jonas Konte</h3>
        <p class="cc-role">Operating manager</p>
        <p class="cc-phone">Tlf: 22225555</p>
        <p class="cc-mail">Email: jonas.konte@mail.com</p>
      </div>
      <div>
        <h3>Elisabeth Nilsen</h3>
        <p class="cc-role">Managing director</p>
        <p class="cc-phone">Tlf: 61235488</p>
        <p class="cc-mail">Email: elisabeth.nilsen@mail.com</p>
      </div>
      <div>
        <h3>Knut Huuse</h3>
        <p class="cc-role">Restaurant manager</p>
        <p class="cc-phone">Tlf: 94568723</p>
        <p class="cc-mail">Email: knut.huuse@mail.com</p>
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>
