<div id="about" class="component">
    <h2>About us</h2>
    <p>
        Capisco Benissimo has a long history of making only the finest italian cuisine.
        The first restaurant saw its doors open in 1976 in Florence, Italy.
        Since then we have seen substantial growth worldwide.
        Currently there are over 60 chains spanning 30 countries.
        Our most recent restaurant we opened in Bymarka in Trondheim.
        Here you can experience the astonishing wildlife that Norway is
        famous for while enjoying a good glass of wine. Our menu features dishes
        for everyone to enjoy whether you are a meat loving carnivore, a wimpy vegan,
        or just want to drink like a sailor, we've got you covered.<br><br>
        Welcome to Capisco Benissimo!
    </p>
    <!-- TODO: img -->
</div>
