#about h2 {
    color: #fbf6e5
}

.about-image-1 {
    width: 100%;
    padding-bottom: 30%;

    background-image: url('assets/img/countryside.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aa-content {
    font-size: 1.3em;
    text-align: center;
    color: #a39992;
    min-width: 500px;
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .aa-content {
        font-size: 0.7em;
        min-width: 200px;
        width: 75%;
    }

    .about-image-1 {
        padding-bottom: 50%;
    }
}
