<div id="hh-header">
    <div class="hh-slideshow">
        <div id="a-slide" class="hh-slide"></div>
        <div id="b-slide" class="hh-slide"></div>
    </div>
    <div class="hh-info">
        <div class="hh-location"></div>
        <div class="hh-hours">
            <div class="hh-text">
                <h2>Opening Hours</h2>
                <!-- TODO: Flex -->
                <div class="hh-flex">
                    <div class="hh-flex-row">
                        <span>Mon - Fri</span>
                        <span>14:00 - 21:00</span>
                    </div>
                    <div class="hh-flex-row">
                        <span>Saturday</span>
                        <span>12:00 - 23:00</span>
                    </div>
                    <div class="hh-flex-row">
                        <span>Sunday</span>
                        <span>10:00 - 19:00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>