<div id="hh-header">
    <div class="hh-slideshow">
        <div id="a-slide" class="hh-slide"></div>
        <div id="b-slide" class="hh-slide"></div>
    </div>
    <div class="hh-info">
        <div class="hh-location"></div>
        <div class="hh-hours">
            <div class="hh-text">
                <h2>Opening Hours</h2>
                <div class="hh-open">
                    <div>Mon - Wed: 12:00 - 21:00</div>
                    <div>Thu - Sat: 12:00 - 23:00</div>
                    <div>Sunday: 14:00 - 21:00</div>
                </div>
            </div>
        </div>
    </div>
</div>