<div id="hh-header">
    <div class="hh-image">
        <div id="a-slide" class="hh-slide"></div>
        <div id="b-slide" class="hh-slide"></div>
    </div>
</div>

<style media="screen">

</style>
<div id="header">
    <div class="flexcontainer">
        <div class="map">
            <img src="assets/img/map.jpg" alt="map">
        </div>
        <div class="hours">
            <p>Opening Hours</p>
            <p>Mon-fri:14:00-21:00</p>
            <p>Saturday:10:00-19:00</p>
            <p>Sunday:10:00-19:00</p>
        </div>
    </div>
    <script src="assets/code/slideshow.js"></script>
</div>
