.hh-slideshow {
    width: 100%;
    height: 800px;
    max-height: calc(100vh - var(--nav-size));

    position: relative;
}

.hh-slide {
    position: absolute;
    left: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;

    transition: opacity 1300ms ease-in-out;
    opacity: 1;
}

.hh-slide.faded {
    opacity: 0;
}

.hh-info::after {
    height: 100%;
    content: '';
    display: table;
    clear: both;
}

.hh-info>div {
    width: 50%;
    padding-bottom: 20%;
    float: left;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hh-location {
    background-image: url('assets/img/snapshot.png');
}

/* TODO: Responsive */
.hh-hours {
    background-image: linear-gradient(rgba(161, 98, 76, 0.9), rgba(161, 98, 76, 0.9)), url('assets/img/bk-1.jpg');
    position: relative;
}

.hh-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    color: white;
}

.hh-hours table {
    font-size: 2em;
}

.hh-hours td {
    padding: 5px 20px;
}