.hh-image {
    width: 100%;
    height: 800px;
    max-height: calc(100vh - var(--nav-size));

    position: relative;
}

.hh-slide {
    position: absolute;
    left: 0;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 100%;
    
    transition: opacity 1300ms ease-in-out;
    opacity: 1;
}

.hh-slide.faded {
    opacity: 0;
}