@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

/* Style Reset */
* {
    padding: 0;
    margin: 0;
}

/* Page Wrapper */
.wrapper {
    font-family: 'Open Sans', sans-serif;
    background-color: #242422;
}

/* Content Wrapper */
.main {
    max-width: 1800px;
    margin: 0 auto;

    padding: 0 40px 40px 40px;
}

.component {
    width: 100%;
    box-sizing: border-box;
    padding: 45px 20px;
    background-color: #2C2A28;
}

:root {
    --nav-size: 44px;
    --nav-size-s: 44px;
    --max-width: 980px;
}

/* Typography */
h1 {
    font-weight: 700;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 2.4em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 40px;
}

h3 {
    font-weight: 600;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
}

/* Phone View */
@media screen and (max-width: 768px) {
    .main {
        padding: 0 5px 5px 5px;
    }
}